@import "tailwindcss";
@import "@fontsource/orbitron/400.css";
@import "@fontsource/orbitron/700.css";
@import "@fontsource/russo-one";
@import "@fontsource/comfortaa/400.css";
@import "@fontsource/comfortaa/700.css";

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.font-russo {
  font-family: 'Russo One', sans-serif;
}

.font-comfortaa {
  font-family: 'Comfortaa', cursive;
}

@keyframes border-spin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-border-spin {
  background-size: 200% 200%;
  animation: border-spin 2s linear infinite;
}
